<p>
  "Presented by Andrew Hickey this podcast is about the history of rock music right from the 1930s. I'm a huge Beatles fan so this is naturally one of my favorite episodes. This clip is talking about the time when Beatles weren't famous. Ringo wasn't even in the band and they had a part time drummer Pete Best. Beatles were known for their super tight live performances which was a direct result of the Hamburg tour which this clip is about.  Malcolm Gladwell in his book The Outliers talks about the famous 10000 hour rule. The Beatles performed live 1200 times from 1960-64 in Hamburg."
</p>

<iframe width="420" height="315"
  src="https://firebasestorage.googleapis.com/v0/b/nugget-50f70.appspot.com/o/Videos%2FBeatles.mp4?alt=media&token=5c263308-7641-41cf-bacd-3cd67ca78c35">
</iframe>
